<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.sidlatau.flutteremailsender">
    <application>
        <provider
            android:name="com.sidlatau.flutteremailsender.FlutterEmailSenderFileProvider"
            android:authorities="${applicationId}.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/shared_file_paths" />
        </provider>
    </application>
</manifest>
